.asside ul li {
    margin: 10px 0;
}

.asside a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.asside a:hover,
.asside a:active {
    background-color: #000000;
    color: #fff;
}

@media (max-width: 768px) {
    .asside {
        padding: 15px;
    }

    .asside a {
        padding: 8px 12px;
    }
}

img.product-img {
    width: 100% !important;
    max-width: 300px !important;
    aspect-ratio: 1 / 1 !important;
    object-fit: cover !important;
    display: block !important;
}

.header-image {
    width: 100%;
    object-fit: cover;
}

/* Large screens */
@media (min-width: 992px) {
    .header-image {
        height: 250px;
    }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991.98px) {
    .header-image {
        height: 180px;
    }
}

/* Small screens */
@media (max-width: 767.98px) {
    .header-image {
        height: 120px;
    }
}

.legal {
    background-color: #f9f9f9;
    padding: 1rem;
    border-left: 4px solid #007bff;
    margin-top: 2rem;
}

